 <button class="add-button" matFab extended color="primary" (click)="openDialog()"><mat-icon >add</mat-icon>New Nurse</button>

<mat-grid-list cols="4" rowHeight="1:1" gutterSize="16px">
  @for (nurse of nurses; track nurse.nurseId) {
    <mat-grid-tile>
      <mat-card class="custom-card">
        <mat-card-header>
          <mat-card-title><b>{{ nurse.name }}</b></mat-card-title>
        </mat-card-header>

        <img mat-card-image src="nurse.png" alt="Profile Photo"/>

        <mat-card-content>
          <p>
            <b>Physician ID:</b> {{ nurse.nurseId }} <br>
            <b>Position:</b> {{ nurse.position }} <br />
            <b>Joining Date:</b> {{ nurse.createdOn | date }} <br />
          </p>
        </mat-card-content>

        <mat-card-actions align="end">
      <button mat-button color="accent"  (click)="openDialog(nurse)"><mat-icon >edit</mat-icon></button>
      <button mat-button color="warn"  (click)="deleteNurse(nurse.nurseId)"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  }
</mat-grid-list>
