<button class="add-button" matFab extended color="primary" (click)="openDialog()"><mat-icon >add</mat-icon>New Physician</button>

<mat-grid-list cols="4" rowHeight="1:1" gutterSize="16px">
  @for (physician of physicans; track physician.physicianId) {
    <mat-grid-tile>
      <mat-card class="custom-card">
        <mat-card-header>
          <mat-card-title><b>{{ physician.name }}</b></mat-card-title>
        </mat-card-header>

        <img mat-card-image src="profilepic.png" alt="Profile Photo"/>

        <mat-card-content>
          <p>
            <b>Physician ID:</b> {{ physician.physicianId }} <br>
            <b>Position:</b> {{ physician.position }} <br />
            <b>Joining Date:</b> {{ physician.createdOn }} <br />

          </p>
        </mat-card-content>

        <mat-card-actions align="end">
      <button mat-button color="accent"  (click)="openDialog(physician)"><mat-icon >edit</mat-icon></button>
      <button mat-button color="warn"  (click)="deletePhysican(physician.physicianId)"><mat-icon>delete</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  }
</mat-grid-list>
