<button class="back-button" routerLink="/view-physican" matFab extended color="primary"> <mat-icon>arrow_back</mat-icon>Back</button>
<div>
    <p><img src="profilepic.png" width="100" height="140">
        This is some text. This is some text. This is some text.<br>
This is some text. This is some text. This is some text.<br>
This is some text. This is some text. This is some text.<br>
This is some text. This is some text. This is some text.<br>
This is some text. This is some text. This is some text.<br>
This is some text. This is some text. This is some text.<br>
This is some text. This is some text. This is some text.<br>
This is some text. This is some text. This is some text.<br>
This is some text. This is some text. This is some text.<br>
This is some text. This is some text. This is some text.<br>
This is some text. This is some text. This is some text.<br>
This is some text. This is some text. This is some text.<br>
This is some text. This is some text. This is some text.<br>
</p>
</div>


<mat-tab-group >
 <mat-tab label="Speciality" ></mat-tab>
  <mat-tab label="Appointments" ></mat-tab>
   <mat-tab label="Patients" ></mat-tab>

