.card {
  max-width: 400px;

}

.image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.profile{
    padding: 10px;
       display: flex;
      flex-direction: row; 
      align-items: center;
      gap: 20px;
    
}